*.cmake
*.png
*~
*#
main_process/object_detection/CMakeCache.txt
main_process/object_detection/CMakeFiles/
main_process/object_detection/Makefile
main_process/object_refinement/CMakeCache.txt
main_process/object_refinement/CMakeFiles/
main_process/object_refinement/Makefile
main_process/object_segmentation/CMakeCache.txt
main_process/object_segmentation/CMakeFiles/
main_process/object_segmentation/Makefile
main_process/texture/CMakeCache.txt
main_process/texture/CMakeFiles/
main_process/texture/Makefile
post_process/collada/CMakeCache.txt
post_process/collada/CMakeFiles/
post_process/collada/Makefile
post_process/evaluation/CMakeCache.txt
post_process/evaluation/CMakeFiles/
post_process/evaluation/Makefile
post_process/synthetic/CMakeCache.txt
post_process/synthetic/CMakeFiles/
post_process/synthetic/Makefile
pre_process/calibration/CMakeCache.txt
pre_process/calibration/CMakeFiles/
pre_process/calibration/Makefile
